/* todo: delete file if not needed */
.header {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgb(124, 33, 124);
    height: 10%;
    width: 100%;
}
.header h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.amount {
    color:rgb(124, 33, 124);;
    margin-top: 20%;
    font-size: 50px;
    text-align: center;
}
.amount input {
    height: 50px;
    font-size: 40px;
}
#input1::placeholder {
    color:rgb(204, 200, 200);
}