/* todo: delete file if not needed */
.payMethod {
    height: 100vh;
    width: 15%;
    background-color: rgb(124, 33, 124);
}
.list{
    padding-top: 50%;
}
.list ul {
    font-size: 20px;
    border-bottom: 2px;
    padding-bottom: 7px;
    border-bottom-color: white;
    border-bottom-style: solid;
}
.link {
    text-decoration: none;
    color: white;
}
