header {
  position: fixed;
  display: flex;
  background-color: rgb(124, 33, 124);
  height: 10%;
  width: 100%;
}
.header h1 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
