.App {
  text-align: center;
}
header {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(124, 33, 124);
  height: 10%;
  width: 100%;
}
.header h1 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
